/* App container - maintaining a dark theme */
.app-container {
  background-color: #111111;
  min-height: 100vh;
  padding: 40px; /* Adjusted for better spacing */
  position: relative;
  font-family: 'Spline Sans Mono';
}

/* Navbar placeholder for spacing */
.navbar-placeholder {
  height: 50px; /* Adjust as necessary */
}
.wrapper {
  width: 404px;
  height: 146px;
  box-sizing: border-box;
  padding: 10px; /* Optional: Adjust padding if needed */
  /* border: 1px solid #ccc; Optional: Add a border for visibility */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

/* Header Title */
.header-title {
  color: #F5F7F8;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 5px;

}

/* Subtitle */
.sub-title {
  color: #B5B7B8;
  font-size: 14px;
  text-align: left;
  margin-bottom: 20px;
}

/* Content container for timer and question area */
.content-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-top: 20px;
}
